/* 首行缩进 */
/* not选择忽略的部分 */
.markdown-source-view.mod-cm6.is-readable-line-width .cm-line:not(
.HyperMD-table-row,                     /* 忽略列表 */
.mod-cm6 .cm-editor .HyperMD-header-1,  /* 标题1~6 */
.mod-cm6 .cm-editor .HyperMD-header-2,
.mod-cm6 .cm-editor .HyperMD-header-3,
.mod-cm6 .cm-editor .HyperMD-header-4,
.mod-cm6 .cm-editor .HyperMD-header-5,
.mod-cm6 .cm-editor .HyperMD-header-6,
.HyperMD-codeblock,                     /* 忽略代码块 */
.HyperMD-list-line                    /* 忽略 - 列表 */
) 
{
    text-indent: 2em;
}


/* callout首行缩进 */
/* p {
    text-indent: 2em;
} */
/* 修改p块的缩进导致quiet-outline插件文本也发生了缩进，这里让其归0 */
/* .quiet-outline .n-tree-node-content__text p {
    text-indent: 0em;
} */
